<h1>Eat Da Burger!</h1>

<img src="/assets/burger.png" alt="burger" width="200" height="200">

<h2>Your Burgers!</h2>
<ul>
    {{#each burger}}
    {{#unless devoured}}
    {{> burgers/burger-block}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers!</h2>
<ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burgers/devoured-block}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="name">
    </div>


    <button type="submit">Add Burger</button>
</form>